.input_group {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.input_entry {
    width: 100%;
    display: flex;
    margin-bottom: -1px;
}
.input_label {
    width: 100%;
    background-color: #4B626E;
    color: #F8EED6;
    border: solid 1px black;
    padding: 0.25em;
}
.input_field {
    width: 100%;
    text-indent: 0.5em;
    border: solid 1px black;
    color: black;
    padding: 0.25em;
    border-collapse: collapse;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.variant_img{
    border: 5px #4B626E solid;
    border-radius: 10px;
}